__pycache__
.DS_Store
.mypy_cache
.vscode
*.c
*.cpuprofile
*.dsym
*.exe
*.o
*.out*
a.out
build
ebrew*.c
ebrew*.js
ebrew*.lua
ebrew*.mjs
err.txt
node_modules
out.*
package-lock.json
package.json
temper.keep
temper.out
